<!-- BY NICHOLAS(1903493) AND CASPER(1903991) -->
<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profile</ion-title>
    </ion-toolbar>
  </ion-header>

<!-- This page is a profile page of the user, it has a default profile picture next to the profile name. -->

  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
          <img src="https://www.voanews.com/themes/custom/voa/images/Author__Placeholder.png" alt="profile-picture">
        </div>
      </ion-col>
      <ion-col>
        <div>
          <h4>Casper Almén</h4>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- We used a ion-list feature from the ionic framework to create a list for our skills list 
    This was nice and easy since it automatically makes the lines between the list items -->

  <h5>My skills</h5>
  <ion-list>
    <ion-item>
      <ion-label>Cybersecurity skills</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>IT-skills</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Leadership skills</ion-label>
    </ion-item>
  </ion-list>

<!-- We used another list for the different social media that the user uses, 
  also after that the user can input their own CV to their profile 
  This example only has filler text to illustrate the function of the component-->

  <h5>Social Media</h5>
  <ion-list>
    <ion-item>
      <ion-label><a href="https://www.facebook.com"> Facebook</a></ion-label>
    </ion-item>
    <ion-item>
      <ion-label><a href="https://www.linkedin.com"> LinkedIn</a></ion-label>
    </ion-item>
    <ion-item>
      <ion-label><a href="https://www.instagram.com"> Instagram</a></ion-label>
    </ion-item>
  </ion-list>

  <h5>CV</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
        nisi ut aliquip ex ea commodo consequat.</p>

<!-- Finally we added a button, where users can contact each other by clicking it,
we didn't manage to make it actually work but it illustrates the idea of it -->

        <ion-button expand="full" color="rgb(65, 65, 65)">Contact me</ion-button>

</ion-content>
<!-- BY NICHOLAS(1903493) AND CASPER(1903991) -->